body {
  background-image: url("../images/mptLogoLg.png"); }
  body .adminForm {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    background-color: #fee600;
    border-radius: 15px; }
    @media only screen and (max-width: 600px) {
      body .adminForm {
        width: 100%; } }
    body .adminForm h1 {
      padding-top: 20px;
      color: #800080; }
    body .adminForm p {
      color: #800080; }
    body .adminForm textarea {
      background-color: #090807;
      color: #fff8dc;
      border-radius: 12px; }
    body .adminForm input {
      background-color: #800080;
      border-radius: 12px;
      font-weight: bold;
      color: #fff8dc;
      margin-bottom: 20px; }
  body .adminForm2 {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    background-color: #fee600;
    border-radius: 15px; }
    @media only screen and (max-width: 600px) {
      body .adminForm2 {
        width: 100%; } }
    body .adminForm2 h1 {
      padding-top: 20px;
      color: #800080; }
    body .adminForm2 p {
      color: #800080; }
    body .adminForm2 textarea {
      background-color: #090807;
      color: #fff8dc;
      border-radius: 12px; }
    body .adminForm2 textarea::placeholder {
      color: #fff8dc; }
    body .adminForm2 input {
      padding: 2px 30px 2px 30px;
      background-color: #090807;
      border-radius: 12px; }
    body .adminForm2 input::placeholder {
      color: #fff8dc; }
    body .adminForm2 .projectSubmit {
      background-color: #800080;
      border-radius: 12px;
      margin-bottom: 20px; }
