nav {
  width: 100%;
  height: 75px;
  background-color: #000000;
  position: fixed;
  top: 0;
  z-index: 1;
  border-bottom: solid 5px #fff8dc; }
  nav .logo {
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 50%; }
  nav ul {
    position: fixed;
    top: 0;
    right: 0;
    list-style-type: none;
    margin: 0;
    padding: 25px; }
    nav ul li {
      display: inline;
      padding: 25px;
      font-weight: bold; }
    nav ul a {
      color: #fee600;
      transition: 0.3s; }
    nav ul a:hover, nav ul a:active, nav ul a:focus {
      text-decoration: none;
      color: #800080; }

.mobNav {
  float: right;
  padding: 15px 25px 15px 0;
  color: #fee600;
  font-size: 25px;
  visibility: hidden;
  cursor: pointer; }
  .mobNav:hover {
    color: #800080; }

.sideNav {
  height: 100%;
  width: 0;
  position: fixed;
  top: 75px;
  right: 0;
  background-color: #000000;
  overflow-x: hidden;
  transition: 0.5s; }
  .sideNav #closeSideNav {
    padding: 0 0 0 150px;
    text-decoration: none;
    font-size: 25px;
    color: #fee600;
    transition: 0.3s; }
    .sideNav #closeSideNav:hover {
      color: #800080; }
  .sideNav a {
    padding: 20px;
    text-align: center;
    display: block;
    top: 30px;
    text-decoration: none;
    font-size: 20px;
    color: #fee600;
    transition: 0.3s; }
    .sideNav a:hover {
      color: #800080; }

@media only screen and (max-width: 720px) {
  ul {
    display: none; }
  .mobNav {
    visibility: visible; } }
