* {
  box-sizing: border-box;
  scroll-behavior: smooth; }

body {
  font-weight: bold;
  background-color: #800080; }

.relative {
  position: relative; }

.absolute {
  position: absolute; }

.fixed {
  position: fixed; }

.sticky {
  position: sticky; }

.logo, .heroLogo {
  border-radius: 50%;
  width: 50px;
  height: 50px; }

.hero {
  top: 0;
  height: 90vh;
  background-image: url("../images/hero.png");
  background-size: cover; }
  .hero .langIconsRowOne, .hero .langIconsRowTwo {
    width: 460px;
    height: 100px;
    top: 100px;
    left: 20px; }
    .hero .langIconsRowOne .langIcon, .hero .langIconsRowTwo .langIcon {
      width: 110px;
      height: 100px;
      padding: 20px; }
  .hero .langIconsRowTwo {
    top: 220px; }

.profile {
  background-color: #090807;
  height: 320px;
  padding: 0; }
  .profile .cvBoxTopHalf, .profile .cvBoxBottomHalf {
    top: 90px;
    height: 65vh;
    background-color: #800080;
    z-index: -5; }
  .profile .cvBoxBottomHalf {
    background-color: #fee600;
    height: 30vh;
    margin-bottom: -10px; }
  .profile .cvPic {
    top: 20%;
    left: 25%;
    width: 50%;
    height: 500px;
    z-index: -4; }
  .profile .preCodingHistory {
    bottom: 0;
    height: 80vh;
    background-color: #090807; }
  .profile .col-2 {
    display: flex; }
    .profile .col-2 .leftCol, .profile .col-2 .rightCol {
      width: 50%;
      margin: 50px 30px 50px 0; }
      .profile .col-2 .leftCol .maydenLogo, .profile .col-2 .rightCol .maydenLogo {
        top: 20%;
        left: 10%;
        width: 100px;
        height: 100px;
        z-index: -8;
        background-color: #090807; }
    .profile .col-2 .rightCol {
      border: solid 5px #090807; }

.miniProjectsBg {
  top: 0;
  height: 100vh;
  background-image: url("../images/spacerImg.jpg");
  background-size: cover;
  z-index: -2; }

.miniProjectsPicCover {
  position: relative;
  background-color: #dcdcdc;
  opacity: 0.9;
  top: 0;
  width: 60%;
  height: 800px;
  margin: 0 auto;
  border-radius: 10%;
  border: solid 10px #090807; }
  .miniProjectsPicCover .container {
    margin: 0 auto;
    width: 300px;
    height: 250px;
    perspective: 1200px; }
    .miniProjectsPicCover .container .carousel {
      width: 280px;
      height: 230px;
      position: absolute;
      transform-style: preserve-3d;
      transition: transform 1s; }
      .miniProjectsPicCover .container .carousel .slide {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0.8;
        border-radius: 10px; }
      .miniProjectsPicCover .container .carousel .slide:hover, .miniProjectsPicCover .container .carousel .slideTitle:hover {
        opacity: 1; }
      .miniProjectsPicCover .container .carousel .slide1 {
        transform: rotateY(0deg) translateZ(250px);
        background-image: url("../images/nasaBuild.jpg"); }
      .miniProjectsPicCover .container .carousel .slide2 {
        transform: rotateY(60deg) translateZ(250px);
        background-image: url("../images/pumpkinDash.jpg"); }
      .miniProjectsPicCover .container .carousel .slide3 {
        transform: rotateY(120deg) translateZ(250px);
        background-image: url("../images/solarSystem.jpg"); }
      .miniProjectsPicCover .container .carousel .slide4 {
        transform: rotateY(180deg) translateZ(250px);
        background-image: url("../images/clock.jpg"); }
      .miniProjectsPicCover .container .carousel .slide5 {
        transform: rotateY(240deg) translateZ(250px);
        background-image: url("../images/comingSoon.jpg"); }
      .miniProjectsPicCover .container .carousel .slide6 {
        transform: rotateY(300deg) translateZ(250px);
        background-image: url("../images/comingSoon.jpg"); }
    .miniProjectsPicCover .container .next, .miniProjectsPicCover .container .prev {
      color: #555555;
      position: absolute;
      bottom: 100px;
      padding: 1em 2em;
      cursor: pointer;
      background: #fee600;
      border-radius: 24px;
      border-top: 1px solid #800080;
      box-shadow: 0 3px 0 #555555;
      transition: box-shadow 0.1s, top 0.1s; }
    .miniProjectsPicCover .container .next:hover, .miniProjectsPicCover .container .prev:hover {
      color: #800080; }
    .miniProjectsPicCover .container .next:active, .miniProjectsPicCover .container .prev:active {
      bottom: 97px;
      box-shadow: 0 1px 0 #555555; }
    .miniProjectsPicCover .container .next {
      right: -250px; }
    .miniProjectsPicCover .container .prev {
      left: -250px; }

.contactMe {
  padding: 20px;
  background-color: #fee600; }
  .contactMe h1 {
    color: #800080; }
  .contactMe a .anchor {
    display: block;
    position: relative;
    visibility: hidden; }
  .contactMe .map iframe {
    width: 97vw; }
  .contactMe .enquiries {
    margin: -20px 0 0 300px; }
    .contactMe .enquiries p {
      color: #800080; }
    .contactMe .enquiries input {
      color: #800080;
      margin: 0 0 10px 0; }
    .contactMe .enquiries textarea {
      color: #800080; }
    .contactMe .enquiries .sendBtn {
      display: block;
      padding: 5px;
      border-radius: 25%;
      border: solid 2px #800080; }

footer {
  position: relative;
  height: 50px;
  background-color: #090807; }
  footer p {
    position: absolute;
    right: 10px;
    top: 15px;
    color: #090807;
    transition: 0.3s; }
    footer p:hover {
      color: #800080; }

@media only screen and (max-width: 775px) {
  .contactMe .map iframe {
    width: 100%; }
  .contactMe .enquiries {
    margin: 0 auto; } }
